##############################
        VSCode Settings
##############################

.vscode


##############################
         C/C++ Files
##############################

**/*.dSYM
**/a.out


##############################
      Project Template
##############################

SW\ Expert\ Academy/*/res


##############################
        Java Template
##############################

*.class


##############################
       Mac OS Template
##############################

.DS_Store


##############################
      Eclipse Template
##############################

*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
